*.json
!static/**/*.json
!package.json
!.babelrc.json
/node_modules
/dist
/.parcel-cache
.DS_Store
/drop
/tests/*.spec.[jt]s-snapshots
/test-results

/src/config
/src/parser
/src/i18n
/legacy
/scripts/oh-my-mirrorz
/static/json/legacy
/static/json/site
