@import "./consts.scss";

.success {
  color: $success;
}

.failed {
  color: $failed;
}

.pending {
  color: $pending;
}

.syncing {
  color: $syncing;
}

.unknown {
  color: $unknown;
}

.pause {
  color: $pause;
}

.oldsuccess {
  color: $oldsuccess;
}

.next {
  color: $next;
}

.new {
  color: $new;
}

.cache {
  color: $cache;
}

.proxy {
  color: $proxy;
}
