@use "sass:color";

$primary: rgb(20, 117, 128);
$bar-bg: rgb(248, 251, 251);
$bar-bg-hover: rgb(22, 48, 55);
$bar-text: black;
$bar-text-hover: white;
$site-logo-shadow: white;
$search-bg: color.change(color.mix(white, $primary, 88%), $alpha: 0.86);
$search-icon: black;
$list-item-icon: rgba(0, 0, 0, 0.38);
$list-header-bg: rgba(20, 117, 128, 0.08);
$list-header-text: black;
$desc: color.change($primary, $alpha: 0.2);
$desc-missing: rgba(0, 0, 0, 0.38);
$hline: rgb(215, 226, 229);
$shadow: rgba(15, 44, 52, 0.18);
$shadow-darkmode: rgba(128, 128, 128, 0.3);

$jiegec: #4169e3;
$jiegec-green: #41b4e3;
$tuna: #6793cf;

$success: green;
$pending: $jiegec-green;
$failed: red;
$syncing: $jiegec;
$unknown: gray;
$pause: gray;
$new: cyan;
$oldsuccess: brown;
$next: orange;
$cache: gold;
$proxy: gold;

$sidebar: 100px;
$search: 100px;
$category: 100px;
$distro: 200px;
$site-abbr: 300px;
$column: 600px;
$flexbox: 440px;
$flexbox-wide-group: 600px;

$mirrorz-logo: url("/static/img/mirrorz.svg");
