@import "./consts.scss";

.category {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: fixed;
  height: $category;
  background-color: $bar-bg;
  width: 100%;
  overflow: auto;
  z-index: 100;
}

.category h2 {
  display: block;
  color: $bar-text;
  text-decoration: none;
  margin: 0;
  float: left;
  width: $category;
  height: $category;
  line-height: $category;
  text-align: center;
}

/* Active/current link */
.category h2.active {
  background-color: $primary;
  color: $bar-text-hover;
}

/* Links on mouse-over */
.category h2:hover:not(.active) {
  background-color: $bar-bg-hover;
  color: $bar-text-hover;
}

.urls {
  margin-top: calc(#{$category} + 20px);
  margin-left: calc(#{$distro} + 20px);
  column-count: auto;
  column-width: $column;
}

.urls a {
  font-size: 18px;
  line-height: 20px;
  margin-top: 3px;
  margin-bottom: 2px;

  text-decoration: none;
}

.distro {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: fixed;
  height: calc(100% - #{$category});
  background-color: $bar-bg;
  width: $distro;
  overflow: auto;
  z-index: 100;
}

.distro h3 {
  display: block;
  color: $bar-text;
  text-decoration: none;
  margin: 0;
  padding: 25px;
  float: top;
}

/* Active/current link */
.distro h3.active {
  background-color: $primary;
  color: $bar-text-hover;
}

/* Links on mouse-over */
.distro h3:hover:not(.active) {
  background-color: $bar-bg-hover;
  color: $bar-text-hover;
}


