@import "./consts.scss";

.iso {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.category {
  flex: 0 0 $category;
  height: $category;
  background-color: $bar-bg;
  width: 100%;
  z-index: 2;
  box-shadow: $shadow 0 3px 6px;
}

.category h2 {
  margin: 0;
}

.category a {
  filter: none;
  display: block;
  color: $bar-text;
  text-decoration: none;
  margin: 0;
  float: left;
  width: $category;
  height: $category;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Active/current link */
.category a.active {
  background-color: $primary;
  color: $bar-text-hover;
}

/* Links on mouse-over */
.category a:hover:not(.active) {
  background-color: $bar-bg-hover;
  color: $bar-text-hover;
}

.distro-urls-container {
  height: calc(100% - #{$category});
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
}

.urls {
  flex-shrink: 1;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  margin: 0;
}

.urls ul {
  display: flex;
  flex-wrap: wrap;
}

.urls li {
  flex-basis: $flexbox-wide-group;
  flex-grow: 1;
}

.urls a {
  font-size: 18px;
  line-height: 20px;
  margin-top: 3px;
  margin-bottom: 2px;

  text-decoration: none;
}

.urls h3 {
  padding-left: 20px;
  margin-top: 10px;
}

.distro {
  flex: 0 0 $distro;
  height: 100%;
  overflow-y: auto;
  background-color: $bar-bg;
  width: $distro;
  z-index: 1;
  box-shadow: $shadow 3px 0 6px;
}

.distro h3 {
  margin: 0;
}

.distro a {
  filter: none;
  display: block;
  color: $bar-text;
  text-decoration: none;
  margin: 0;
  padding: 0;
  float: top;
  padding: 25px;
}

/* Active/current link */
.distro a.active {
  background-color: $primary;
  color: $bar-text-hover;
}

/* Links on mouse-over */
.distro a:hover:not(.active) {
  background-color: $bar-bg-hover;
  color: $bar-text-hover;
}


