@import "./consts.scss";
@import "./fonts.scss";

.search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $search;
  background: $search-bg;
  backdrop-filter: blur(4px);
  z-index: 100;
  border-top: $primary 5px solid;

  input {
    @include monospace;
    line-height: $search;
    font-size: 36px;
    width: 100%;
    height: 100%;
    border: none;
    outline: 0;
    padding: 0;
    background: transparent;
    padding: 0 20px 0 64px;
  }

  .material-icons {
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    font-size: 32px;
    color: $search-icon;
    opacity: 1;
    transition: opacity 0.2s ease;
  }

  input[value=""] + .material-icons {
    opacity: 0.38;
  }
}

.mirrors {
  padding-top: $search;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.upstream,
.status {
  font-size: 15px;
  line-height: 18px;

  display: flex;
  align-items: center;

  .material-icons {
    font-size: 15px;
    line-height: 18px;
    width: 30px;
    color: $list-item-icon;
  }
}

.help {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.heading {
  position: relative;

  .material-icons {
    position: absolute;
    right: calc(100% + 10px);
    top: 0;
    bottom: 0;
    align-items: center;

    cursor: pointer;

    display: none;
  }
}

.summary {
  text-align: right;
}

.filtered,
.collapsed {
  display: none;
}

.group {
  padding: 0 80px;
  flex-basis: $flexbox;
  flex-grow: 1;

  &:hover .heading .material-icons {
    display: inline-flex;
  }

  &:hover .group-header {
    background-color: $list-header-bg;
  }

  &.group-expanded .group-header {
    background-color: $list-header-bg;
  }
}

.group-header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  cursor: default;
}

.group-items {
  padding: 0 50px;
}

.desc {
  padding: 10px 20px;
  margin-top: 10px;
  border-left: $desc 10px solid;

  &.missing {
    color: $desc-missing;
    font-style: italic;
    filter: grayscale(1);
  }
}
