@import "./consts.scss";

.sidebar {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  min-width: $sidebar;
  background-color: $bar-bg;
  height: 100%;
  overflow-y: auto;
  z-index: 3;
  flex: 0 0 auto;
  box-shadow: $shadow 3px 0 6px;
}

/* Sidebar links */
.sidebar h2 {
  margin: 0;
}

.sidebar a {
  filter: none;
  color: $bar-text;
  text-decoration: none;
  margin: 0;
  width: $sidebar;
  height: $sidebar;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Active/current link */
.sidebar a.active {
  background-color: $primary;
  color: $bar-text-hover;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: $bar-bg-hover;
  color: $bar-text-hover;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  #app-container {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    height: auto; /* may be two line */
    min-height: $sidebar;
  }
  main {
    max-height: unset !important;
    height: unset !important;
  }
  .sidebar a {
    float: left;
  }
}
