@import "./consts.scss";
@import "./fonts.scss";

.site {
  display: flex;
  width: 100%;
  height: 100%;
}

.site-abbr {
  height: 100%;
  background-color: $bar-bg;
  width: $site-abbr;
  flex-shrink: 0;
  overflow-y: auto;
  z-index: 100;

  a {
    text-decoration: none;
    color: $list-header-text;
    filter: none;
    transition: none;
  }
}

.site-abbr .group-header {
  display: block;
  color: $bar-text;
  text-decoration: none;
  margin: 2px 0 2px 0;
  padding: 25px;
  float: top;
  border-radius: 5px;
}

/* Active/current link */
.site-abbr .group-header.active {
  background-color: $primary;
  color: $bar-text-hover;
}

/* Links on mouse-over */
.site-abbr .group-header:hover:not(.active) {
  background-color: $bar-bg-hover;
  color: $bar-text-hover;
  transition: all 0.2s;
}

.site-content {
  width: auto;
  max-height: 100%;
  margin: 0 0 0 5px;
  overflow-y: auto;
  background-color: $bar-bg;
}

.site-meta {
  padding: 30px 10px 30px 10px;
  background-color: $bar-bg;
}

.site-mirrors {
  padding: 0 15px 0 15px;
  display: flex;
  flex-wrap: wrap;
}

.site-group {
  flex-basis: $flexbox-wide-group;
  flex-grow: 1;

  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  border-bottom: $hline 1px solid;

  &:hover {
    background-color: $list-header-bg;
  }
}

.logo {
  display: block;
  height: 24pt;
  filter: drop-shadow(0 0 3px $site-logo-shadow);
}

.meta-left {
  @include sans;
  font-weight: bold;
  display: inline-block;
  font-size: 24px;
  margin: 10px 10px 5px 0;
}

.meta-right {
  font-size: 22px;
}

.meta-line {
  margin-left: 20px;
}
@import "./darkmode.scss";
