@import "./consts.scss";

.site-abbr {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  background-color: $bar-bg;
  width: $site-abbr;
  overflow: auto;
  z-index: 100;

  a {
    text-decoration: none;
    color: $list-header-text;
    filter: none;
    transition: none;
  }
}

.site-abbr .group-header {
  display: block;
  color: $bar-text;
  text-decoration: none;
  margin: 0;
  padding: 25px;
  float: top;
}

/* Active/current link */
.site-abbr .group-header.active {
  background-color: $primary;
  color: $bar-text-hover;
}

/* Links on mouse-over */
.site-abbr .group-header:hover:not(.active) {
  background-color: $bar-bg-hover;
  color: $bar-text-hover;
}

.site-content {
  margin-top: 0px;
  margin-left: calc(#{$site-abbr} + 20px);
  column-count: auto;
  column-width: $column;
}

.logo {
  display: block;
  height: 24pt;
}
