@import "./fonts.scss";
@import "./consts.scss";
@import "./color.scss";
@import "./sidebar.scss";
@import "./mirrors.scss";
@import "./iso.scss";
@import "./site.scss";
@import "./about.scss";
@import "./icon.scss";

:root {
  color-scheme: light dark;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  /* without it, with box-shadow in darkmode scroller would be bright */
  /* introduced by commit 00b0c2b */
  overflow: hidden;
  @include sans;
}

main {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  flex: 0 1 auto;
}

a {
  text-decoration: underline;
  color: $primary;
  filter: grayscale(0.5);
  transition: filter 0.2s ease;

  &:hover {
    filter: none;
  }
}

h2 {
  @include monospace;
  margin: 10px 0 5px 0;
  font-size: 24px;
}

h3 {
  margin: 6px 0 3px 0;
  font-size: 18px;
  display: flex;
  align-items: center;
  .material-icons {
    font-size: 18px;
  }
}

code {
  @include monospace;
}

#app, #app-container {
  padding: 0 0;
  margin: 0 0;
  height: 100%;
  width: 100%;
}

#app-container {
  display: flex;
}

.sidebar-logo {
  display: block;
  height: 64px;
}
