doctype html
html
  include head.pug
  body
    #app-container
      .sidebar
        a(href='/_/')
          img.sidebar-logo(src='/static/img/mirrorz.svg',alt='ISO')
        a(href='/_/list')
          h2 List
        a(href='/_/site')
          h2 Site
        a.active(aria-current='page',href='/_/about')
          h2 About
      main
        .about
          .para
            .para-title
              .para-title-icon #
              .para-title-text Intro
            .para-content
              div
                p Your next MirrorS is not MirrorS, nor MirrorSes, it's MirrorZ.
                p A final site for Mirror sites.
          .para
            .para-title
              .para-title-icon #
              .para-title-text Repo
            .para-content
              a(href='https://github.com/tuna/mirrorz', target='_blank') https://github.com/tuna/mirrorz
          .para
            .para-title
              .para-title-icon #
              .para-title-text Logo
            .para-content
              each d in sites
                .about-powered-by
                  if(d.site.logo)
                    img.about-logo(src=(d.site.logo ? d.site.logo : ''), alt='logo')
                  = d.site.abbr
          .para
            .para-title
              .para-title-icon #
              .para-title-text Usage
            .para-content
              ul
                li The following urls are all valid.
                li https://mirrorz.org/_/
                li https://mirrorz.org/_/os/ArchLinux
                li https://mirrorz.org/_/app/Git
                li https://mirrorz.org/_/font
                li https://mirrorz.org/_/list
                li https://mirrorz.org/_/list/pypi
                li https://mirrorz.org/_/site
                li https://mirrorz.org/_/site/BFSU
                li https://mirrorz.org/_/about
                li https://mirrorz.org/_/_/about
                li Use the below script for speed test!
                li https://mirrorz.org//oh-my-mirrorz.py
                li 
                    code curl https://mirrorz.org//oh-my-mirrorz.py | python3
                li Experimental Feature: Backend
                li https://mirrors.mirrorz.org/archlinux
                li https://m.mirrorz.org/centos
                li https://search.mirrorz.org/archlinux/
                li https://s.mirrorz.org/openwrt/snapshots/targets/zynq/generic/sha256sums
          .para
            .para-title
              .para-title-icon #
              .para-title-text TODO and possible projects
            .para-content
              ul
                li More participating mirrors
                li
                  | oh-my-mirrorz. One script to change all your mirrors (currently only speedtest was implemented). Ref to 
                  a(href='http://github.com/tuna/oh-my-tuna', target='_blank') http://github.com/tuna/oh-my-tuna
                li
                  | Load Balancing Backend (hard). Ref to 
                  a(href='http://github.com/tuna/mirrorhub', target='_blank') http://github.com/tuna/mirrorhub
                  | . Currently a experimental backend is deployed.
                li
                  | Search Backend (hard). Ref to 
                  a(href='https://github.com/tuna/issues/issues/1012', target='_blank') https://github.com/tuna/issues/issues/1012
                  | . Currently a experimental backend is deployed.
                li Mobile browser support
                li i18n/l10n
                li mirrorz.json protocol/data format discussion and upgrade