doctype html
html
  include head.pug
  body
    #app-container
      .sidebar
        a(href='/_/')
          h2 ISO
        a.active(aria-current='page',href='/_/list')
          h2 List
        a(href='/_/site')
          h2 Site
        a(href='/_/about')
          h2 About
      main
        .mirrorz
          .mirrors
            each d in data
              .group
                a(href=d.url)
                  h2.heading
                    =d.name