name: Yarn build and Publish to another repo

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install dependencies
        run: yarn --frozen-lockfile
      - name: oh-my-mirrorz build
        run: |
          sed -i "s/^VERSION.*/VERSION = '$(date +'%Y%m%d')'/g" scripts/oh-my-mirrorz/oh-my-mirrorz.py
          sed -i "s^mirrors = \[\]^mirrors = $(node -e 'console.log(JSON.stringify(require("./src/config/mirrors")))')^" scripts/oh-my-mirrorz/oh-my-mirrorz.py
      - name: Build
        run: |
          yarn build
          yarn legacy_build
          mkdir -p drop
          tar -czf drop/dist.tar.gz dist
      - name: Upload dist package as artifact
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: drop/dist.tar.gz
          retention-days: 3
  screenshots:
    name: Take screenshots
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install dependencies
        run: |
          yarn --frozen-lockfile
          npx playwright install-deps
          npx playwright install
      - name: Download dist package
        uses: actions/download-artifact@v2
        with:
          name: dist
      - name: Unzip dist package
        run: |
          tar xzf dist.tar.gz
      - name: Take screenshots
        run: |
          yarn test
      - name: Upload screenshots as artifacts
        uses: actions/upload-artifact@v2
        with:
          name: screenshots
          path: drop/screenshots
          retention-days: 3
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/master' }}
    needs:
      - build
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Download dist package
        uses: actions/download-artifact@v2
        with:
          name: dist
      - name: Commit and publish
        env: 
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          PUBLISH_REPOSITORY: ${{ secrets.PUBLISH_REPOSITORY }}
          ACTOR: ${{ secrets.ACTOR }}
        run: |
          tar xzf dist.tar.gz
          remote_repo="https://x-access-token:${ACCESS_TOKEN}@github.com/${PUBLISH_REPOSITORY}.git"
          remote_branch="master"
          git_commit_id=$(git rev-parse --short HEAD)
          mkdir _site_remote && cd _site_remote
          git init
          git config user.name "${ACTOR}"
          git config user.email "${ACTOR}@users.noreply.github.com"
          git remote add origin $remote_repo
          git pull origin $remote_branch
          git rm -rf .
          git clean -fxd
          cp -ar ../dist/*  ./
          touch .nojekyll
          git add .
          git commit -m "Github Action auto build for https://github.com/tuna/mirrorz/commit/${git_commit_id}" --allow-empty
          git push -u origin $remote_branch

